* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
@font-face {
  font-family: "font-for-letterSorted";
  src: url("../fonts/Cream\ Cake.otf");
}
html,
body {
  height: 100%;
  background-color: #fff;
}
.letter-sorted-box {
  background-color: #67170f;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  width: 100%;
  min-height: 10rem;
  max-height: 100px;
  height: auto;
  padding: 1rem 2rem;
}
.letter-sorted-box h1 {
  font-size: large;
  font-weight: bold;
  font-size: 3em;
  color: #f4f3f7;
  font-family: "font-for-letterSorted", "sans-serif";
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 0.5rem;
}
.timer-container {
  width: 32rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
  padding: 0 1rem;
}
.timer-box {
  border: 0.5px solid #fff;
  width: 15rem;
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
  padding: 0 1rem;
  box-shadow: 0.2px 0.3px 0.2px -6px rgba(0, 0, 0, 0.027),
    0.5px 0.8px 0.4px -6px rgba(0, 0, 0, 0.04),
    0.8px 1.3px 0.7px -6px rgba(0, 0, 0, 0.05),
    1.2px 1.9px 1px -6px rgba(0, 0, 0, 0.058),
    1.8px 2.8px 1.5px -6px rgba(0, 0, 0, 0.065),
    2.5px 3.9px 2.1px -6px rgba(0, 0, 0, 0.072),
    3.5px 5.5px 3px -6px rgba(0, 0, 0, 0.08),
    5.1px 8px 4.4px -6px rgba(0, 0, 0, 0.09),
    7.9px 12.4px 6.8px -6px rgba(0, 0, 0, 0.103),
    14px 22px 12px -6px rgba(0, 0, 0, 0.13);
  border-radius: 10px;
  font-size: 3em;
  font-weight: bold;
}
.container-filds-words {
  max-width: 1366px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.5rem;
  justify-content: center;
  padding-bottom: 1rem;
}
.word {
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  padding: 20px;
  box-shadow: 0.2px 0.3px 0.2px -6px rgba(0, 0, 0, 0.063),
    0.5px 0.8px 0.4px -6px rgba(0, 0, 0, 0.076),
    0.8px 1.3px 0.7px -6px rgba(0, 0, 0, 0.083),
    1.2px 1.9px 1px -6px rgba(0, 0, 0, 0.09),
    1.8px 2.8px 1.5px -6px rgba(0, 0, 0, 0.096),
    2.5px 3.9px 2.1px -6px rgba(0, 0, 0, 0.102),
    3.5px 5.5px 3px -6px rgba(0, 0, 0, 0.109),
    5.1px 8px 4.4px -6px rgba(0, 0, 0, 0.115),
    7.9px 12.4px 6.8px -6px rgba(0, 0, 0, 0.123),
    14px 22px 12px -6px rgba(0, 0, 0, 0.13);
  text-align: center;
  color: #0f0e17;
  transition: all 0.5s linear;
}
.word:hover {
  transform: scale(1.1);
}
.word label {
  width: 100%;
  margin: 0 auto;
  font-size: 1.5em;
  font-weight: bold;
  color: #000;
}
.word .categorie {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.word .text {
  visibility: hidden;
  width: auto;
  height: auto;
  text-align: center;
  font-size: 1.3em;
  color: rgba(211, 19, 5, 0.959);
  padding: 1rem 0;
  margin-top: 2rem;
}
.categorie input[type="text"] {
  width: 100%;
  height: 2.5rem;
  margin-left: 0.5rem;
  outline: none;
  padding: 1rem 0.5rem 1rem 0.5rem;
  font-size: 1.5em;
  border-bottom: 2px solid #000;
  border-radius: 8px;
  cursor: not-allowed;
  color: #000;
}
.categorie input[type="checkbox"] {
  width: 1rem;
  margin-right: 0.5rem;
  cursor: not-allowed;
}
/* Tela de final de game */
div.finalScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #80808080;
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.finalScreen > div.message {
  width: 60vw;
  height: 65vh;
  border: 2px solid #000;
}
/* RGBA: rgba(128, 128, 128, 0.5) (50% de opacidade) - cor para background */

/* Animations */
img {
    width: 85px;
    height: 85px;
    text-align: center;
    border-radius: 50%;
    transition: all 5s linear;
}
  
img:hover {
    transform: rotate(1turn) skew(10deg);
  }
  
  
